/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== CSS =====*/

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}

/*===== CORES =====*/

:root {
  /*===== CORES NAV =====*/
  --navmenu-color: #000000;
  --navsegunda-color: #edf030;
  --textonav-color: #fffefe;

  /*===== CORES botão e texto =====*/
  --first-color: #0c0c02;
  --white-color: #ffffff;
  --first-color-alt: #000000;

   /*===== CORES Texto nos Blocos em geral =====*/
  --dark-color: #101010;
  --dark-color-light: #333030;
  --gray-color: #f0e47a;
  --black-color: #292929;

}

/*===== Fonte e tipografia =====*/

:root {
  --body-font: 'Open Sans', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
}

/*===== Tamanhos de telas ( Responsive ) =====*/

/*===== min-width: 1980px ( Responsive ) 
@media screen and (min-width: 1980px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 938rem;
    --small-font-size: .75rem;
  }
}
=====*/

/*===== min-width: 1280px ( Responsive ) 
@media screen and (min-width: 1280px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 938rem;
    --small-font-size: .75rem;
  }
}
=====*/

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-v {
  background: #eee;
}


/*===== min-width: 1024px ( Responsive ) =====*/
@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 938rem;
    --small-font-size: .75rem;
  }
}

/*===== min-width: 768px ( Responsive ) =====*/
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
  }
}

/*===== min-width: 330px ( Responsive ) 
@media screen and (min-width: 330px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
  }
}
=====*/

/*===== min-width: 230px ( Responsive ) 
@media screen and (min-width: 280px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
  }
}
=====*/

/*===== Margem =====*/

:root {
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/

:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*===== CLASS CSS ===== */

.box{
  padding: 3rem 0;

}

.box-title{
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}

.box-all{
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

/*===== LAYOUT =====*/

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.i-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

/*===== NAV =====*/

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav_menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 50%;
    height: 60%;
    padding: 3rem;
    background-color: var(--navmenu-color);
    transition: .5s;
    border-radius: 1rem;
  }

}

/*===== Barra de navegação  =====*/
.nav_item{
  margin-bottom: var(--mb-4);
}

.nav_link{
  color: var(--textonav-color);
  font-weight: var(--font-semi);
}

.nav_link:hover{
  color: var(--textonav-color);
}

.nav_logo{
  font-weight: var(--font-bold);
}

.nav_cart{
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav_toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/

.show{
  right: 0;
}

.active{
  color: var(--navsegunda-color);
}

/*===== HOME =====*/
.home{
  background-color: var(--gray-color);
}

.home_container{
  height: calc(106vh - var(--header-height));
}

.home_data{
  padding-top: 5rem;
}

.home_title{
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
}

.home_title span{
  font-size: var(--h1-font-size);
}

.home_img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 460px;
}

/*BUTTONS*/
  
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: .3s;
    border-radius: 5px;
}

.button:hover{
  background-color: var(--first-color-alt);
}

/*===== Box de itens =====*/

.box_container{
  row-gap: 2rem;
}

.box_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--gray-color);
  transition: .3s;
}

.box_box:hover{
transform: translateY(-.5rem);
}

.box_img{
  width: 125px;
}

.box_title{
  font-size: var(--h1-font-size);
  line-height: 1.8;
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.box_subtitle{
  font-size: var(--h2-font-size);
  color: var(--dark-color-light);
}

.box_view{
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.box_view:hover{
  text-decoration: underline;
}
/*===== Outros box =====*/

/*=============== NEW ARRIVALS ===============*/
.new__container{
  padding-top: 1rem;
}

.new__img{
  width: 120px;
  margin-bottom: var(--mb-0-5);
  transition: .3s;
}

.new__content{
  position: relative;
  background: var(--container-color);
  width: 242px;
  padding: 3rem 0 1.5rem 0;
  border-radius: .75rem;
  text-align: center;
  overflow: hidden;
}

.new__tag{
  position: absolute;
  top: 5%;
  left: 8%;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: var(--small-font-size);
  padding: .25rem .5rem;
  border-radius: .25rem;
}

.new__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.new__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.new__prices{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.new__price{
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.new__discount{
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}

.new__button{
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  bottom: 0;
  right: -3rem;
}

.new__icon{
  font-size: 1.25rem;
}

.new__content:hover .new__img{
  transform: translateY(-.5rem);
}

.new__content:hover .new__button{
  right: 0;
}



/*===== Oferta =====*/


/*===== Novidades =====*/


/*===== Noticias =====*/


/*===== Collab =====*/


/*===== FOOTER =====*/


/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 2%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px rgba(224, 11, 11, 0.1);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover { 
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}



/* ===== MEDIA =====*/


